<!DOCTYPE html>
<html ng-app="kontakuto" ng-controller="showing_contacts">
<head>
	<!-- meta -->
	<meta charset="utf-8">
	<meta name="description" content="Exercicis Javascript" />
	<meta name="author" content="Oscar Garcia" />
	<meta name="contacts" content="contacts">
	
	<!-- css -->
	<link rel="stylesheet" href="css/style.css" type="text/css">
	
	<!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
	<!-- Javascript-->
	<script type="text/javascript" src="js/javascript.js"></script>
	
	<!-- favicon -->
	<link href="img/favicon.ico" rel="icon" type="image/x-icon" />
	<title>Javascript - Oscar Garcia</title>
</head>
	<body>
		<header>
            <h1>Kontakuto</h1>
            <div>
                <span>username</span>
                <button>*</button>
            </div>
        </header>
		<nav>
            <ul>
                <li><button>+</button></li>
            </ul>
        </nav>
		<section ng-modle="list_of_contacts">
			<article ng-repeat="contact in contacts" ng-click="show_details(contact.id)">
                <span>{{contact.name}}</span>
                <div class="contact_buttons">
                    <button>e</button>
                    <button>d</button>
                </div>
                <div class="contact_details">
                    <hr>
                    Name: {{contact.name}}<br>
                    Phone: {{contact.phone}}<br>
                    Email: {{contact.email}}<br>
                    <input type="button" value="x" ng-click="hide_details(contact.id)">
                </div>
            </article>
		</section>
		<footer></footer>
	</body>
</html>
