<!DOCTYPE html>
<html ng-app="kontakuto" ng-controller="showing_contacts">
    <head>
        <!-- meta -->
           <meta charset="utf-8">
        <meta name="description" content="Exercicis Javascript" />
        <meta name="author" content="Oscar Garcia" />
        <meta name="contacts" content="contacts">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- css -->
        <link rel="stylesheet" href="css/style.css" type="text/css">

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <!-- Javascript-->
        <script type="text/javascript" src="js/javascript.js"></script>

        <!-- favicon -->
        <link href="img/favicon.ico" rel="icon" type="image/x-icon" />
        <title>Javascript - Oscar Garcia</title>
</head>
	<body>
	        <ul class="nav">
	
	<div class="logo">
	    <a href="a">Kontakuto</a>
    </div>
    
        <li><a href="index.html">HOME</a></li>
        <li><a href="add_contact.html">ADD CONTACT</a></li>
        <li><a href="a">OTHERS</a></li>
        <li><a href="a">username</a></li>
        <li><a href="a"><button>*</button></a></li>
    </ul>
	
    <div class="banner">
        <img class="banner-image" src="img/banner.jpg">
    </div>	
        <nav>
            <ul>
                <li><a href="#"onclick="add()">Save</a></li>
                <li><a href="index.html" onclick="add()">Save &amp; Exit</a></li>
                <li><a href="index.html">Cancel</a></li>
            </ul>
        </nav>
		<section ng-modle="list_of_contacts">
            
			<article ng-repeat="contact in contacts">
                <div class="contact_buttons">
                    <button>e</button>
                    <button>d</button>
                </div>
                <div ng-click="show_details(contact.id)">{{contact.name}}</div>
                <div class="contact_details">
                    <hr>
                    Name: {{contact.name}}<br>
                    Phone: {{contact.phone}}<br>
                    Email: {{contact.email}}<br>
                    <input type="button" value="x" ng-click="hide_details(contact.id)">
                </div>
            </article>
		</section>
		<footer></footer>
	</body>
</html>
