* {
    font-family: "Open Sans";
}

header {
    border-bottom: 1px solid black;
    height: 80px;
    padding: 0 15px 0;
}

input {
    position: fixed;
    left: 150px;
}

header h1 {
    float: left;
    position: fixed;
    font-family: "Oswald";
}

.question button {
    position: fixed;
    left: 340px;
}

header div {
    float: right;
    margin-top: 30px;
}

header div span {
    margin-right: 10px;
    font-family: "Open Sans";
    font-size: 0.9em;
}

header div button {
    color: blue;
    font-size: 1em;
}

nav ul {
    list-style: none;
    float: right;
    font-size: 0.7em;
    text-align: center;
}

html {
    font-family: "Open Sans";
}

div {
    color: #613B3B;
    font-weight: bold;
}

nav ul li {
    margin: 3px 30px;
    border: 1px solid black;
    padding: 10px;
    width: 45%;
}

section article {
    margin: 10px 20px;
    margin-right: 50%;
    border-style:groove;
    padding: 20px 0px 20px 20px;
}

section article:hover {
    cursor: pointer;
    display: block;
}

.question {
    margin: 7px;
}

.nav {
    background-color: #ffffff;
    color: #000000;
    list-style: none;
    text-align: right;
    padding: 10px 0px 0px 0;
}

.nav > li {
    display: inline-block;
    padding: 0 15px 0 15px;
    font-size: 12px;
}

.nav > li > a {
    text-decoration: none;
    color: #000000;
}

.nav > li > a:hover{
    color: #c1c1c1;
}

.logo {
    color: #000000;
    position: fixed;
    top: 15px;
    left: 10px;
    padding-left: 25px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Oswald";
}

.logo > a {
    text-decoration: none;
    color: #000000
}

.banner {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

.banner > .banner-image{
    height: 5%;
    width: 100%;
    display: block;
}


div#q1.question::before {
    content: "Name: ";
}

div#q2.question::before {
    content: "Lastname: ";
}

div#q3.question::before {
    content: "Phone: ";
}

div#q4.question::before {
    content: "Email: ";
}

div#q5.question::before {
    content: "Facebook: ";
}

div#q6.question::before {
    content: "Twitter: ";
}

div#q7.question::before {
    content: "Instagram: ";
}

/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
    section article {
        margin-right: 60%;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    section article {
        margin: 10px 0;
        margin-right: 22%;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    section article {
        margin: 10px 0;
        width: 75%

    }
}

/* Portrait small phones and smaller */
@media (max-width: 320px) {
    header div span {
        display: none;
    }
}
